<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="jakaś strona" content="width=device-width, initial-scale=1.0">
    <meta fav-icon="">
    <title>JS Fun Sandbox</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <a href="../index.html"><button>Main page</button></a>
    <button onclick="startzad1()">Name Popup</button>
    <button onclick="startzad2()">Kalkulator</button>
    <button onclick="startzad3()">Crazy tekst converter</button>
    <button onclick="piramidInConsole()">Piramid</button>
    <button onclick="different()">TextFun</button>

<!-- part functions -->
<button onclick="calculator()">Simple calculator </button>
<button onclick="oddOrNot()">Odd or Not </button>
<button onclick="calculator2()">Simple calculator 2 </button>
<button onclick="oddOrNot2()">Odd or Not 2</button>

    <script src="../scripts/script.js"></script>
    <script src="../scripts/script-archive.js"></script>
</body>

</html>