<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="jakaś strona" content="width=device-width, initial-scale=1.0">
    <meta fav-icon="">
    <title>JS Fun Sandbox</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <nav>
        <a href="../index.html"><button>Main page</button></a>
    </nav>
    <button onclick="startzad1()">Name Popup</button>
    <button onclick="startzad2()">Kalkulator</button>
    <button onclick="startzad3()">Crazy tekst converter</button>
    <button onclick="piramidInConsole()">Piramid</button>
    <button onclick="different()">TextFun</button>

<!-- part functions -->
<button onclick="calculator()">Simple calculator </button>
<button onclick="oddOrNot()">Odd or Not </button>
<button onclick="calculator2()">Simple calculator 2 </button>
<button onclick="oddOrNot2()">Odd or Not 2</button>

<!-- objects part -->
<button onclick="addListOfPeople()">Add List of People</button>
<button onclick="addListOfPeople2()">Add List of People2</button>

<!--objects/ spread , rest , template string-->
<button onclick="logOrNot()"> logOrNot</button>
<button onclick="getUser()">Get User Data</button>

<button onclick="arrayOfResults()">Achievements</button>

<button onclick="cityscritp()">Cities</button>

<!-- Askynchroniczność -->
<button onclick="askyncscript()">Async</button>
<button onclick="askyncOrder()">Async order</button>

<button onclick="callBackHell()">Call back hell</button>
<button onclick="stateOfPromiss()">Obietnice</button>
<button onclick="bookById()">Book by id</button>

<!-- Askynchroniczność async await-->
<button onclick="asyncAwait()">Async & Await</button>
<button onclick="aRequire()">Require</button>

<button onclick="bookByIdasync()">book By Id async</button>
<button onclick="stywarsAwait()">stywars await</button>

    <script src="../scripts/script.js"></script>
    <script src="../scripts/script-archive.js"></script>
</body>

</html>