<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Zabawy z DOM em</title>
    <style>
        .darkMode {
            background-color: black;
            color: antiquewhite;
        }
    </style>
</head>

<body>
    <nav>
        <a href="../index.html"><button>Main page</button></a>
    </nav>

    <h1>Nagłówek 1</h1>
    <p> par 1 </p>
    <p class="par2 secondTestClass"> par 2 </p>
    <p id="id3"> par 3 </p>
    <a href="">link</a>
    <button id="btn-toggle-color">Guzik</button></br>
    
    <button id="increaseCount-btn">Increase count</button>
    <button id="resetCount-btn">Reset count</button>
    <h2 id="counter">0</h2>
    
    <button id="increaseCountsave-btn">Increase count and save</button>
    <button id="resetCountsave-btn">Reset count and save</button>
    <h2 id="counterSaved">0</h2>
    
    <h2 id="localStorageData">localStorageData</h2>

    <p>How do you feel</p>
    <button id="good">Good</button>
    <h2 id="countGood">0</h2>
    <button id="bad">Bad</button>
    <h2 id="countBad">0</h2>
    
    <p>How do you feel v2</p>
    <button id="btn-good">Good</button>
    <button id="btn-bad">Bad</button>
    <h2 id="h-count">0</h2>
    
    <button id="tableOfNum-btn">dodaj liczbę do tabeli</button>
    <h2 id="sumFromTable">0</h2>
    
    <h1>Suma zapisanych liczb: <span class="span-sum"></span></h1>
    <button class="btn-add-number">Dodaj liczbę</button>
    <p>Liczby:</p>
    <p class="p-numbers"></p>

    <script src="../scripts/dom.js"></script>
</body>

</html>