html {
    background-color: #555555;
    padding: 0;
        margin: 0;
}
p {
    font-size: 48px;
    color: goldenrod;
    font-family: Arial;
}
nav {
    background-color: #777777;
    padding: 30px;
    margin: 0px;
}
a {
    text-decoration: none;
}

button {
    display: inline-block;
    margin: 10px;
    padding: 15px;
    margin: solid, 2px;
    background-color: #3b3c41;
    color: aliceblue;
}